<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Schedule</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        body {
            margin: 0 auto;
            font-family: "Figtree", Arial, "Helvetica Neue", helvetica, sans-serif;
            padding: 0em 20px 20px 20px;
        }

        /* Add your CSS styles for the schedule boxes here */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid rgb(180, 180, 180);
            padding: 8px;
        }

        /* Add a class for the booked slots */
        .booked {
            vertical-align: top;
            background-color: #AED6F1;
            /* Change this to the desired background color */
        }

        .confirmed {
            background-color: #fd9595;
        }

        .tentative {
            background-color: rgba(249, 243, 58, 0.701961);
        }

        .bookingheader {
            background: #1954A6;
            color: #ffffff;
        }
    </style>
</head>

<body>
    <div>
        Group study room <%= roominfo.room_name %>
    </div>
    <table>
        <tr>
            <th></th>
            <th class="bookingheader">
                <%= dayName %> <%= todayDay %>/<%= todayMonth%>
            </th>
        </tr>
        <% for (let hour=morningstarts; hour <=eveningends; hour++) { %>
            <tr>
                <td>
                    <%= hour %> - <%= hour + 1 %>
                </td>
                <% if (schedule[hour] && schedule[hour].length> 0) { %>
                    <% if (schedule[hour][0] && schedule[hour][0].rowspan> 0) { %>
                        <td class="booked <%-schedule[hour][0].status==0 ? 'confirmed' : 'tentative' %>" rowspan="<%= schedule[hour][0].rowspan %>">
                            Booked
                        </td>
                    <% } %>
                <% } else { %>
                    <td></td>
                <% } %>
            </tr>
        <% } %>
    </table>
</body>

</html>